# We'll use defaults from the LLVM style, but with some modifications so that it's close to the CDT K&R style.
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ContinuationIndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterControlStatement: false
  AfterNamespace: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false

BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeComma
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline

AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: false
AlignConsecutiveMacros: true
AlignOperands: false
AlignTrailingComments: true
DerivePointerAlignment: false
PointerAlignment: Left

IndentCaseLabels: false
PenaltyBreakBeforeFirstCallParameter: 50

SpacesBeforeTrailingComments: 1
MaxEmptyLinesToKeep: 2
