repos:
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.6
    hooks:
      - id: clang-format
        files: \.(c|cpp|h|hpp)$
        args: [--style=file, --fallback-style=llvm]
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.11.0
    hooks:
      - id: black
        files: \.py$
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: \.(js|ts|json|css|html|md|yaml|yml)$
        exclude: ^\.clang-format$
